<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Aquí iría el contenido de la barra de navegación (Navbar) -->
    </nav>
  </header>

  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <!-- Aquí iría el contenido de la barra lateral (Sidebar) -->
      </div>
    </div>

    <div class="col-md-9">
      <div class="page-wrapper">
        <div class="container">
          <div class="breadcrumb">
            <!-- Aquí iría el contenido de las migas de pan (Breadcrumb) -->
          </div>

          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer">
      <!-- Aquí iría el contenido del pie de página (Footer) -->
    </div>
  </footer>
</div>
